

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#"> BATCAVE</a></li>
      <li role="presentation"><a href="#Origin">Origin Story</a></li>
      <li role="presentation"><a href="#West">Adam West</a></li>
    </ul>
  </div>
</nav>

<div="main-content">
  <div class="hero">
    <div>
      <%= image_tag "logo.png"%>
    </div>
  </div>
  <div class="Origin" id="Origin">
    <div class="Origin-background">
      <div class="row">
        <div class="col-md-4"><h2>The Beginnings of the Caped Crusader!!</h2></div>
      </div>
      <div class="row">
        <div class="col-md-6"><p>No guns, no killing.
          Hero can be anyone. Even a man knowing something as simple and reassuring as putting a coat around a young boy shoulders to let him know the world hadn't ended.
          I'm not wearing hockey pads.
          I can't do that as Bruce Wayne... as a man. I'm flesh and blood. I can be ignored, destroyed. But as a symbol, I can be incorruptible, I can be everlasting. I'll be standing where l belong. Between you and the peopIe of Gotham.
          It's not who I am underneath but what I do that defines me.
          Accomplice? I'm gonna tell them the whole thing was your idea.
          I will go back to Gotham and I will fight men Iike this but I will not become an executioner.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="West" id="West">
    <div class="West-wallpaper">
      <div class="row">
        <div class="col-md-8"><h2>Batman</h2></div>
        <div class="col-md-8"><h4>Starring</h4></div>
      </div>
      <div class="row">
        <div class="col-md-8"><h1>Adam West!!</h1>
      </div>
      <div class="images">
        <div>
         <%= image_tag 'west5.jpg' %>
         <%= image_tag 'west1.jpg' %>
       </div>
    </div>
  </div>
</div>


<!-- I'll be standing where l belong. Between you and the peopIe of Gotham.
It's not who I am underneath but what I do that defines me.
Accomplice? I'm gonna tell them the whole thing was your idea.
I will go back to Gotham and I will fight men Iike this but I will not become an executioner.
The first time I stole so that I wouldn't starve, yes. I lost many assumptions about the simple nature of right and wrong. And when I traveled I learned the fear before a crime and the thrill of success. But I never became one of them.
Well, you see... I'm buying this hotel and setting some new rules about the pool area.
This isn't a car.
Does it come in black?
My anger outweights my guilt.
I'm Batman -->
